.calendar-week {
  width: 100%;

  td {
    width: 14.3%;
    padding: 0 0 3% 0;
    text-align: center;

    &.today {
      background-color: lightyellow;
    }

    .today {
      font-size: .8em;
      font-weight: bold;
      height: .8em;
      color: lightgrey;
    }

    &.na {
      color: lightgrey;
    }

    .number {
      font-size: 2em;
      font-weight: bold;
      margin-top: 1%;
    }
  }
}

.weeks-stories {
  .weekday {
    color: grey;
    font-size: 1.8em;
  }

  .calendar-day {
    color: lightgrey;
    margin: -.5em auto .2em .5em;
  }

  .today {
    background-color: lightyellow;
  }

  .stories .name {
    font-weight: bold;
  }

  .no-stories {
    color: lightgrey;
  }
}
