.display-option {
  margin-top: 3em;
  font-weight: normal;

  label {
    font-weight: normal;
  }
}

.calendar-week {
  width: 100%;

  td {
    width: 14.3%;
    padding: 0 0 3% 0;
    text-align: center;

    .needs-entry {
      background-color: blue;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      float: right;
      position: relative;
      margin: -1em .3em 0 0;
    }

    &.today {
      background-color: lightyellow;
    }

    .today {
      display: block;
      font-size: .8em;
      margin-bottom: .8em;
      height: .8em;
      color: lightgrey;
    }

    &.na {
      color: lightgrey;
    }

    .number {
      font-size: 2.5em;
    }
  }
}

.doesnt-need-entry {
  display: none;
}

.weeks-stories {
  .badge {
    margin-top: .6em;
  }

  .weekday {
    color: grey;
    font-size: 1.8em;

    .needs-entry {
      color: blue;
    }
  }

  .calendar-day {
    color: lightgrey;
    margin: -.5em auto .2em .5em;
  }

  .today {
    background-color: lightyellow;
  }

  .no-stories {
    color: lightgrey;
  }

  input[type=checkbox] {
    float: right;
  }

  .hours {
    width: 70px;
  }

  .existing-notes {
    background-color: whitesmoke;

    .options label {
      margin-left: 1em;
    }

    .note {
      white-space: pre-line;
    }
  }
}
