.calendar-week {
  width: 100%;

  td {
    width: 14.3%;
    padding: 0 0 3% 0;
    text-align: center;

    &.today {
      background-color: lightyellow;
    }

    .today {
      display: block;
      font-size: .8em;
      margin-bottom: .8em;
      height: .8em;
      color: lightgrey;
    }

    &.na {
      color: lightgrey;
    }

    .number {
      font-size: 2.5em;
    }
  }
}

.weeks-stories {
  .weekday {
    color: grey;
    font-size: 1.8em;
  }

  .calendar-day {
    color: lightgrey;
    margin: -.5em auto .2em .5em;
  }

  .today {
    background-color: lightyellow;
  }

  .no-stories {
    color: lightgrey;
  }

  input[type=checkbox] {
    float: right;
  }

  .hours {
    width: 70px;
  }

  .existing-notes {
    background-color: whitesmoke;

    .options label {
      margin-left: 1em;
    }

    .note {
      white-space: pre-line;
    }
  }
}
